.ButtonAnimation:hover {
    transition-duration: 0.2s;
    scale: 1.1 1.1;
    transition-property: scale;
    transition-timing-function: ease-out-back;
}

.ButtonAnimation:active {
    transition-property: scale;
    transition-timing-function: ease-out-back;
    transition-duration: 0.2s;
    scale: 0.9 0.9;
}

.ButtonAnimation {
    transition-property: scale;
    transition-duration: 0.2s;
    transition-timing-function: ease-out-cubic;
}
